# Q3

In [3]:
import statistics

In [2]:
sample1 = [10,20,30,40,50]
sample2 = [5,10,15,20,25]

In [4]:
std1 = statistics.stdev(sample1)
std1

15.811388300841896

In [5]:
std2 = statistics.stdev(sample2)
std2

7.905694150420948

In [7]:
f_cal = std1**2/std2**2
f_cal

4.0

Finding f value from F-test table with 95% confidence level,
F = 6.39

As F table value is not greater than F- calculated value, we can't reject the null hypothesis.

# Q2

In [41]:
group1 = [51,45,33,45,67]
group2 = [23,43,23,43,45]
group3 = [56,76,74,87,56]

In [52]:
l = [group1, group2,group3]
k = len(l)
n = (len(group1)+len(group2)+len(group3))

H0: mu1 = mu2 = mu3
Ha: at least one difference among the means

In [43]:
dfBetween= k-1 
dfWithin= n-k 
dfTotal = dfBetween+dfWithin

df1 = 2 and df2 = 12 and alpha = 0.05, Ftable = 3.88

In [44]:
def mean(group):
    a=0
    for i in group:
        a = a+i
    return a/len(group)

mean(group1), mean(group2),mean(group3)

(48.2, 35.4, 69.8)

In [45]:
l = [group1, group2,group3]
a = 0
for i in l:
    for j in i:
        a = a+j

muGrand = a/n
muGrand

51.13333333333333

In [46]:
l = [group1, group2,group3]
ssTotal=0
for i in l:
    for j in i:
        ssTotal = ssTotal+(j-muGrand)**2
        
ssTotal

4883.733333333333

In [47]:
l = [group1, group2,group3]
ssWithin=0
for i in l:
    for j in i:
        ssWithin = ssWithin+(j-mean(i))**2

ssWithin

1860.8

In [48]:
ssBetween = ssTotal-ssWithin
ssBetween

3022.9333333333325

In [49]:
s2Between = ssBetween/dfBetween
s2Between

1511.4666666666662

In [50]:
s2Within = ssWithin/dfWithin
s2Within

155.06666666666666

In [51]:
Fcalc = s2Between/s2Within
Fcalc

9.747205503009456

as Fcalc> Ftable, we reject the null hypothesis

# Q1

H0 = gender and education level are independent
Ha = gender and education level are not independent

Obsrved values for each cell

In [9]:
OHighFemale = 60
OBatchFemale = 54
OMasterFemale = 46
OPhdFemale = 41
OHighMale = 40
OBatchMale = 44
OMasterMale = 53
OPhdMale = 57

Expected values for each cell

In [8]:
EHighFemale = 100*201/395
EBatchFemale = 98*201/395
EMasterFemale = 99*201/395
EPhdFemale = 98*201/395
EHighMale = 100*194/395
EBatchMale = 98*194/395
EMasterMale = 99*194/395
EPhdMale = 98*194/395

In [11]:
print(EHighFemale) 
print(EBatchFemale) 
print(EMasterFemale)
print(EPhdFemale) 
print(EHighMale) 
print(EBatchMale) 
print(EMasterMale) 
print(EPhdMale)

50.88607594936709
49.868354430379746
50.37721518987342
49.868354430379746
49.11392405063291
48.131645569620254
48.62278481012658
48.131645569620254

In [17]:
chi_square_statistic = (OHighFemale-EHighFemale)**2/EHighFemale+(OBatchFemale-EBatchFemale)**2/EBatchFemale+(OMasterFemale-EMasterFemale)**2/EMasterFemale+(OPhdFemale-EPhdFemale)**2/EPhdFemale+(OHighMale-EHighMale)**2/EHighMale+(OBatchMale-EBatchMale)**2/EBatchMale+(OMasterMale-EMasterMale)**2/EMasterMale+(OPhdMale-EPhdMale)**2/EPhdMale
chi_square_statistic

8.006066246262538

In [18]:
dof = (2-1)*(4-1)
dof

3

In [20]:
alpha = 0.05

In [19]:
from scipy.stats import chi2

In [21]:
critical_value = chi2.ppf(q = 1-alpha, df = dof)
critical_value

7.814727903251179

In [23]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=dof)
p_value

0.04588650089174717

As our p value is less than alpha (also critical value is less than chi_square_statistic) we will reject the null hypothesis and conclude that gender and education level are not independent